<header>
  <img src="../assets/images/logo.png" />

  <p>An on-demand urban and rural delivery service</p>

  <button>Coming soon</button>
</header>

<div class="container">
  <section>
    <div class="image">
      <img src="../assets/images/business.svg" />
    </div>

    <div class="information">
      <h1>Here for businesses big and small</h1>
      <p>Dlvrry offers an on-demand delivery service for both big and small businesses. Providing quicker deliveries for
        your customers
        increases customer satisfaction and is more likely to expand your clientele and overall sales.</p>
    </div>
  </section>

  <section>
    <div class="image">
      <img src="../assets/images/rider.svg" />
    </div>

    <div class="information">
      <h1>Work for yourself</h1>
      <p>The Dlvrry platform gives anyone the oppurtunity to earn an extra income, as much as £10/hour, by accepting job
        inivitations from
        local businesses and fulfilling them.</p>
    </div>
  </section>

  <section>
    <div class="image">
      <img src="../assets/images/delivered.svg" />
    </div>

    <div class="information">
      <h1>Quicker deliveries = Happy customers</h1>
      <p>We all know that no one likes waiting for delivieres. Why not provide your customers with a way to get a faster
        delivery service when ordering from you?
      </p>
    </div>
  </section>

  <section>
    <div class="image">
      <img src="../assets/images/environment.svg" />
    </div>

    <div class="information">
      <h1>Dlvrry is an environmentally friendly company</h1>
      <p>We provide an on-demand delivery service for small and large businesses in your local area. Businesses
        will no
        longer have to post or send out parcels with companies who may charge a higher rate, and harm the environment
        more, for local postcodes. Using Dlvrry means that your customers could get a rider within a
        matter of hours and get the parcel sent straight to them! So as well as satisfying the customer with quicker
        delivery, you are also protecting the environment!
      </p>
    </div>
  </section>
</div>

<div class="interested">
  <h3>Are you interested in becoming a rider or joining as a business?</h3>
  <button>Message us at hello@dlvrry.io</button>
</div>