<header>
  <img src="../assets/images/logo.png" />

  <p>An on-demand, last-mile delivery service</p>

  <button>Coming soon</button>
</header>

<div class="container">
  <section>
    <div class="image">
      <img src="../assets/images/business.svg" />
    </div>

    <div class="information">
      <h1>Here for businesses big and small</h1>
      <p>Dlvrry is an on-demand, last-mile delivery service that helps small to medium-sized businesses offer a quicker, more environmentally friendly delivery service for their customers!</p>
    </div>
  </section>

  <section>
    <div class="image">
      <img src="../assets/images/rider.svg" />
    </div>

    <div class="information">
      <h1>You're the boss</h1>
      <p>Dlvrry provides a platform for anyone to become their own boss. Riders choose what deliveries they want to do & what time they wish to work. You are in charge of your time, Dlvrry works around your schedule, not the other way around.</p>
    </div>
  </section>

  <section>
    <div class="image">
      <img src="../assets/images/delivered.svg" />
    </div>

    <div class="information">
      <h1>Lowering your carbon footprint</h1>
      <p>Dlvrry helps lower your carbon footprint as a business and provides a much better delivery experience for your customers! It also creates new job opportunities for your local community, so it's a win-win all around!</p>
    </div>
  </section>

  <section>
    <div class="image">
      <img src="../assets/images/environment.svg" />
    </div>

    <div class="information">
      <h1>We are about the environment and people</h1>
      <p>Dlvrry was started from a problem we saw when trying to run a small business. Delivery rates were high with long delivery times. We also found deliveries to local postcodes would go through an unnecessary process where the parcel would travel further than it needed to, which in turn created an unnecessary larger footprint. Customers can order from you today and receive their parcels in a matter of hours*.</p>
    </div>
  </section>
</div>

<div class="interested">
  <h3>Are you interested in becoming a rider or joining as a business?</h3>
  <button>Message us at hello@dlvrry.io</button>
</div>
