:host {
  display: flex;
  flex-flow: column;
  flex: 1;
  align-items: center;
  background: #F7F7F7;
  padding-bottom: 2rem;

  header {
    background-color: transparent;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-flow:  column nowrap;
    justify-content: center;
    align-items: center;

    h1, p {
      color: #3F3047;
      margin: 2.5rem;
      text-align: center;
      margin-bottom: 2rem;
      line-height: 1.4rem;
      letter-spacing: 0.03rem;
    }

    p {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.4rem;
      letter-spacing: 0.03rem;
    }

    img {
      width: 15vw;
      height: auto;
      border-radius: 12px;

      @media only screen and (max-width: 780px) {
        width: 30vw;
      }
    }

    button {
      background: rgba(230,52,98, 0.2);
      border: 0;
      border-radius: 2rem;
      color: rgba(230,52,98, 1);
      font-size: 1rem;
      font-weight: 500;
      padding: 0 2rem;
      height: 3rem;
      outline: none;
    }
  }

  & > .container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    @media only screen and (max-width: 780px) {
      width: 100vw;
    }

    nav {
      flex: 1;
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background: #3F3047;
        border: 0;
        border-radius: 2rem;
        color: #FFF;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0 2rem;
        height: 3rem;
        cursor: pointer;
        outline: none;
      }
    }

    section {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 4rem;

      @media only screen and (max-width: 780px) {
        flex-flow: column wrap;
      }

      .information {
        flex: 1;

        @media only screen and (max-width: 780px) {
          text-align: center;
          padding: 2rem;
        }

        h1 {
          color: #3F3047;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 2rem;
          letter-spacing: 0.03rem;
          margin-bottom: 1rem;
        }

        p {
          color: #3F3047;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.4rem;
          letter-spacing: 0.03rem;
        }
      }

      .image {
        flex: 1;

        img {
          width: 40vw;
          height: 30vh;
        }
      }
    }
  }

  & > .interested {
    display: flex;
    height: 50vh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 780px) {
      padding: 2rem;
      height: auto;
    }

    h3 {
      font-weight: 500;
      text-align: center;
      margin-bottom: 1.4rem;
    }

    button {
      background: rgba(230,52,98, 0.2);
      border: 0;
      border-radius: 2rem;
      color: rgba(230,52,98, 1);
      font-size: .9rem;
      font-weight: 500;
      padding: 0 2rem;
      height: auto;
      padding: 1.2rem 2rem;
      outline: none;
      margin-top: 1.5rem;
    }
  }
}