<header>
  <img src="../assets/images/logo.png" />

  <p>An on demand, last mile delivery service</p>

  <button>Coming soon</button>
</header>

<div class="container">
  <section>
    <div class="image">
      <img src="../assets/images/business.svg" />
    </div>

    <div class="information">
      <h1>Here for businesses big and small</h1>
      <p>Dlvrry is an on demand, last mile delivery service which can be used by anybody! Our main mission is to proivde a service where small and big businesses can provide on demand, last mile deliveries for their customers! This provides a much better customer experience and helps the environment!</p>
    </div>
  </section>

  <section>
    <div class="image">
      <img src="../assets/images/rider.svg" />
    </div>

    <div class="information">
      <h1>Work for yourself</h1>
      <p>Dlvrry provides an oppurtunity for people to work for themselves on the side of their normal jobs or as a full time position! You are your own boss, you choose when to work and how many deliveries you want to do in a day and we will provide you with a platform to do just that!</p>
    </div>
  </section>

  <section>
    <div class="image">
      <img src="../assets/images/delivered.svg" />
    </div>

    <div class="information">
      <h1>Quicker, more environmentally friendly deliveries</h1>
      <p>Dlvrry provides an on demand, last mile delivery service which helps the environment and provides a much better customer experience! It also creates new job oppurtunities for your local community so it's a win win all around!</p>
    </div>
  </section>

  <section>
    <div class="image">
      <img src="../assets/images/environment.svg" />
    </div>

    <div class="information">
      <h1>We are about the environment and people</h1>
      <p>Dlvrry was started from a problem we seen when trying to run a small business. Delivery rates were high with long delivery times, deliveries to local postcodes would go through an unnecessary process where the parcel would travel further than it needed to go in turn, creating a unnecessary larger footprint. Our main focus was our customers, small businesses rely so much of their customers satisfaction. If a customer is not happy, they will move on. Dlvrry can help with that satisfaction by providing on demand, last mile delivery. Customers can order from you today and recieve their parcels in a matter of hours*.</p>
    </div>
  </section>
</div>

<div class="interested">
  <h3>Are you interested in becoming a rider or joining as a business?</h3>
  <button>Message us at hello@dlvrry.io</button>
</div>
